<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>滨州市实验幼儿园信息采集</title>
    <link rel="stylesheet" href="~/content/css/common.css" />
    <link rel="stylesheet" href="~/content/css/login.css" />
    <style>
        .login_bg {
            background: url("/content/images/open.jpg") no-repeat;
            background-size: 100% 100%;
        }

        .login_btn {
            width: 80%;
            margin: 10%;
        }

    </style>
</head>
<body>
    <div class="login_bg">
        <div id="logo">
            <img src="~/content/images/logo00.png" alt="" />
        </div>
        <div><span>滨州市实验幼儿园信息采集</span></div>
        <a class="login_btn" href="~/Home/Signin">登&nbsp;&nbsp;录</a>
        <a class="login_btn" href="~/Home/Register">注&nbsp;&nbsp;册</a>
        
    </div>
</body>
</html>