<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>用户注册</title>
    <link href="~/hui/css/hui.css" rel="stylesheet" />
</head>
<body style="background:#F4F5F6;">
    <header class="hui-header">
        <h1>滨州市实验幼儿园信息采集</h1>
    </header>
    <div class="hui-wrap">
        <div class="hui-center-title" style="margin-top:35px;"><h1 style="border:0px;">用户注册</h1></div>
        <div style="margin:20px 10px; margin-bottom:15px;" class="hui-form" id="form1">
            <div class="hui-form-items">
                <div class="hui-form-items-title">手机号</div>
                <input type="text" class="hui-input hui-input-clear" name="phoneNum" placeholder="手机号" checkType="phone" checkMsg="填写正确的手机号" />
            </div>
            <div class="hui-form-items">
                <div class="hui-form-items-title">登录密码</div>
                <input type="password" class="hui-input hui-pwd-eye" placeholder="登录密码" name="pwd" checkType="string" id="pwd" checkData="6,20" checkMsg="密码为6-20个字符" />
            </div>
            <div class="hui-form-items">
                <div class="hui-form-items-title">确认密码</div>
                <input type="password" class="hui-input hui-pwd-eye" placeholder="确认密码" name="rePassword" checkType="sameWithId" checkData="pwd" checkMsg="两次密码不一致" />
            </div>
            <div class="hui-form-items">
                <div class="hui-form-items-title">验证码</div>
                <input type="text" class="hui-input" name="regCaptcha" value="" checkType="reg" checkData="^[A-Za-z0-9]{4}$" checkMsg="验证码为4个字符" />
                <div style="width:120px;">
                    <img src="~/Home/CreateCaptcha" id="imgVerifyCode" width="100%" />
                </div>
            </div>
        </div>
        <div style="padding:10px; padding-top:10px;">
            <button type="button" class="hui-button hui-button-large hui-primary" id="submit">立即注册</button>
            <div style="margin-top:10px">
                <a href="/Home/Login">已有账号，去登录</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/hui/js/hui.js" charset="UTF-8"></script>
    <script type="text/javascript" src="~/hui/js/hui-form.js" charset="utf-8"></script>
    <script type="text/javascript">
        hui.formInit();
        hui("#imgVerifyCode").click(function () {
            hui("#imgVerifyCode").attr("src", "/Home/CreateCaptcha?t=" + Math.random());
        });
        hui("#imgVerifyCode").click();//避免部分浏览器刚打开时加载上次的缓存验证码

        hui('#submit').click(function () {
            //验证
            var res = huiFormCheck('#form1');
            //提交
            if (res) {

                var data = hui.getFormData('#form1');
                hui.ajax({
                    type: 'POST',
                    url: "/Home/Register",
                    data: data,
                    backType: 'JSON',
                    beforeSend: function () {//请求前执行的函数
                        hui.loading('正在提交中...');
                    },
                    complete: function () {//请求完成执行的函数，不论成功失败都会执行
                        hui.closeLoading();
                    },
                    success: function (msg) {//请求成功后执行的回调函数
                        if (msg.status == "ok") {
                            hui.iconToast("注册成功，请登录");
                            setTimeout(function () {
                                location.replace("/Home/Login");
                            }, 2000);
                        } else {
                            hui.iconToast(msg.errorMsg, 'error');
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        }
                    },
                    error: function (e) {//请求失败时执行的回调函数
                        hui.iconToast('网络请求失败', 'warn');
                    }
                });
            }
        });
    </script>
</body>

</html>
