
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>修改密码</title>
    <link href="~/content/fonts/iconfont.css" rel="stylesheet"/>
    <link href="~/content/css/bass.css" rel="stylesheet"/>
    <link href="~/content/css/index.css" rel="stylesheet"/>
</head>
<body>
<!--验证信息通过-->  
<div class="verifypass">
    <div class="verifypass-img">
        <i class="icon-uniE904" style="right:1.8rem"></i>
    </div>
    <p>密码修改成功</p>
    <p style="font-size:0.6rem"><a href="@Url.Action("Signin","Account")">去登录</a></p>
</div>
<!--验证信息通过end--> 
</body>
</html>
