<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="~/content/lib/html5.js"></script>
    <script type="text/javascript" src="~/content/lib/respond.min.js"></script>
    <script type="text/javascript" src="~/content/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link href="~/content/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="~/content/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="~/content/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>我的桌面</title>
</head>
<body>

    <div class="pd-20" style="padding-top:20px;">
        <p class="f-20 text-success">欢迎使用滨州市实验幼儿园信息管理平台 <span class="f-14"></span></p>
    </div>
    <footer class="footer">
        <p>
            本系统由<a href="javascript:void(0)" target="_blank" title="山东阳光数码科技有限公司">山东阳光数码科技有限公司</a>提供技术支持
        </p>
    </footer>
    <script type="text/javascript" src="~/content/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/content/js/H-ui.js"></script>
    </body>
</html>