@model StudentDTO[]
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>幼儿信息</title>
    <link href="~/content/stuAdd/fonts/iconfont.css" rel="stylesheet" />
    <link href="~/content/stuAdd/css/bass.css" rel="stylesheet" />
    <link href="~/content/stuAdd/css/index.css" rel="stylesheet" />
</head>
<body>
    <div>
        <header>
            <div class="header">
                <h1>信息采集</h1>
                <a href="javascript:window.history.back(-1)" class="return"><i class="icon-16"></i></a>
            </div>
        </header>
        <div style="height: 2.5rem;"></div>
    </div>
    <div class="firmDetails">
        <div style="margin-top:15px; text-align: center"><h1>幼儿信息</h1></div>
        <div style="padding:28px; text-align:center;" >
            @foreach (var stu in Model)
            {
                <button type="button" class="btn cy-btn" style="margin-bottom: 5px"  onclick="look(@stu.Id)">@stu.Name</button>
            }


        </div>
    </div>

<script type="text/javascript">
    function look(id) {
        window.location.href ="/Student/Index/"+id;
    }

</script>
</body>
</html>
