@model DataDictionaryDTO[]
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="~/content/lib/html5.js"></script>
    <script type="text/javascript" src="~/content/lib/respond.min.js"></script>
    <script type="text/javascript" src="~/content/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link href="~/content/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="~/content/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
    <link href="~/content/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>教师信息</title>
</head>
<body>
    <div class="pd-20">
        <form action="" method="post" class="form form-horizontal" id="form-object-add">
            <input type="hidden" name="adminUserId" value="" />
            <div class="row cl">
                <label class="form-label col-3">姓名：</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="姓名" id="name" name="name" datatype="*2-16">
                </div>
                <div class="col-4"> </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">性别：</label>
                <div class="formControls col-5 skin-minimal">
                    <div class="radio-box">
                        <input type="radio" id="gender-1" value="False" name="gender" checked="checked">
                        <label for="gender-1">男</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" id="gender-2" value="True" name="gender">
                        <label for="gender-2">女</label>
                    </div>
                </div>
                <div class="col-4"> </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">出生日期：</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text Wdate" value="" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" id="BirthDate" name="BirthDate" datatype="*" />
                </div>
                <div class="col-4"> </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">联系电话：</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="联系电话" id="phone" name="phone" datatype="m" >
                </div>
                <div class="col-4"> </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">证件类型：</label>
                <div class="formControls col-5">
                    <span class="select-box" style="width:150px;">
                        @Html.DropDownList("IdCardTypeId", new SelectList(Model,
                             nameof(DataDictionaryDTO.Id), nameof(DataDictionaryDTO.Value)), new { @class = "select"})
                    </span>
                </div>
                <div class="col-4"> </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">证件号码：</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="证件号码" id="IdCardNum" name="IdCardNum" datatype="*18-18" >
                </div>
                <div class="col-4"> </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">籍贯：</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="籍贯" id="PriginPlace" name="PriginPlace" datatype="s" >
                </div>
                <div class="col-4"> </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">户口所在地：</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="户口所在地" id="hukouPlace" name="hukouPlace" datatype="s" >
                </div>
                <div class="col-4"> </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">现住址：</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="现住址" id="HomePlace" name="HomePlace" datatype="s" >
                </div>
                <div class="col-4"> </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">来园工作日期：</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text Wdate" value="" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" id="comeDate" name="comeDate" datatype="*" />
                </div>
                <div class="col-4"> </div>
            </div>

            <div class="row cl">
                <label class="form-label col-3">是否教师编制：</label>
                <div class="formControls col-5 skin-minimal">
                    <div class="radio-box">
                        <input type="radio" id="IsOfficial-1" value="False" name="IsOfficial" checked>
                        <label for="IsOfficial-1">否</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" id="IsOfficial-2" value="True" name="IsOfficial">
                        <label for="IsOfficial-2">是</label>
                    </div>
                </div>
                <div class="col-4"> </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">是否党员：</label>
                <div class="formControls col-5 skin-minimal">
                    <div class="radio-box">
                        <input type="radio" id="IsPartyMember-1" value="False" name="IsPartyMember" checked>
                        <label for="IsPartyMember-1">否</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" id="IsPartyMember-2" value="True" name="IsPartyMember">
                        <label for="IsPartyMember-2">是</label>
                    </div>
                </div>
                <div class="col-4"> </div>
            </div>
            <div class="row cl">
                <div class="col-9 col-offset-3">
                    <input class="btn btn-primary radius" id="btnSave" type="button" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="~/content/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/content/lib/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="~/content/lib/icheck/jquery.icheck.min.js"></script>
    <script type="text/javascript" src="~/content/lib/Validform/5.3.2/Validform.min.js"></script>
    <script type="text/javascript" src="~/content/lib/layer/1.9.3/layer.js"></script>
    <script type="text/javascript" src="~/content/js/H-ui.js"></script>
    <script type="text/javascript" src="~/content/js/H-ui.admin.js"></script>
    <script type="text/javascript">
        var validForm = $("#form-object-add").Validform({ tiptype: 2 });
        //保存
        $("#btnSave").click(function () {
            if (validForm.check(false)) {
                var formData = $("#form-object-add").serializeArray();
                $.ajax({
                    url: "/Teacher/Add",
                    type: "post",
                    data: formData,
                    dataType: "json",
                    success: function (res) {
                        if (res.status == "ok") {
                            layer.msg("保存成功", { icon: 1, time: 3000 }, function () {
                                
                            });
                        }
                        else {
                            layer.msg("错误:" + res.errorMsg, { icon: 2, time: 3000 });
                        }
                    },
                    error: function () { layer.msg("网络请求出错", { icon: 2, time: 3000 }); }
                });
            }
        });

    </script>
</body >
</html >


