@model ChooseFieldViewModel
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="~/content/lib/html5.js"></script>
    <script type="text/javascript" src="~/content/lib/respond.min.js"></script>
    <script type="text/javascript" src="~/content/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link href="~/content/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="~/content/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
    <link href="~/content/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>选择需要导出的字段</title>
</head>
<body>
    <div class="pd-20">
        <form action="" method="post" class="form form-horizontal" id="form-object-add">

            <div class="row cl">
                <label class="form-label col-2">选择导出的字段：</label>
                <div class="formControls col-8">
                    <dl class="permission-list">
                        <dt>
                            <label>
                                <label>
                                   <button type="button" class="btn radius" name="deselect" id="deselect" >反选</button>
                                </label>
                            </label>
                        </dt>
                        <dd>
                            <dl class="cl permission-list2" id="mailTable">
                                <dd>
                                    @foreach (var item in Model.Dictionary)
                                    {
                                        <label class="col-6">
                                            <input type="checkbox" value="@item.Key" name="dicFields" id="dicFields-@item.Key">
                                            @item.Value
                                        </label>
                                    }
                                </dd>
                            </dl>
                        </dd>
                    </dl>
                </div>
                <div class="col-2"> </div>
            </div>
            @*<div class="row cl">
                    <div class="col-9 col-offset-3">
                        <input class="btn btn-primary radius" type="button" id="btnSave" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                    </div>
                </div>*@
        </form>
    </div>
    <script type="text/javascript" src="~/content/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/content/lib/icheck/jquery.icheck.min.js"></script>
    <script type="text/javascript" src="~/content/lib/Validform/5.3.2/Validform.min.js"></script>
    <script type="text/javascript" src="~/content/lib/layer/1.9.3/layer.js"></script>
    <script type="text/javascript" src="~/content/js/H-ui.js"></script>
    <script type="text/javascript" src="~/content/js/H-ui.admin.js"></script>
    <script type="text/javascript">
        //回调函数
        function callbackdata() {
            var backData = $("#form-object-add").serializeArray();
            return backData;
        }
        $(function () {
            
            $("#deselect").click(function () {
                $("#mailTable dd input").each(function (index, domObj) {
                    domObj.checked = !domObj.checked;
                });
            });

            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
            });
            
        });
    </script>
</body>
</html>

