@model CertificateListViewModel

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="~/content/lib/html5.js"></script>
    <script type="text/javascript" src="~/content/lib/respond.min.js"></script>
    <script type="text/javascript" src="~/content/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link href="~/content/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/content/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <link href="~/content/lib/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" type="text/css">
    <title>证书展示</title>
</head>
<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 教师管理 <span class="c-gray en">&gt;</span> 教育培训 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="pd-20">
        <div class="cl pd-5 bg-1 bk-gray mt-20"> 
            <span class="l">

                @*<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
        <a href="javascript:;" onclick="zhengshu_add('添加证书','/Certificate/Add?educateId=@Model.EducateId')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加证书</a>*@
            </span> 
        <span class="r">共有数据：<strong>@Model.Certificates.Count()</strong> 条</span> </div>
        <div class="portfolio-content">
            <form id="formList">
                <ul class="cl portfolio-area">
                    @foreach (var item in Model.Certificates)
                    {
                        <li class="item">
                            <div class="portfoliobox">
                                <input class="checkbox" name="selectedIds" type="checkbox" value="@item.Id">
                                @*<div class="picbox"><a href="@item.Url" data-lightbox="gallery" data-title=""><img src="@item.ThumbUrl"></a></div>*@
                            </div>
                        </li>
                    }
                </ul>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="~/content/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/content/lib/layer/1.9.3/layer.js"></script>
    <script type="text/javascript" src="~/content/lib/lightbox2/2.8.1/js/lightbox-plus-jquery.min.js"></script>
    <script type="text/javascript" src="~/content/js/H-ui.js"></script>
    <script type="text/javascript" src="~/content/js/H-ui.admin.js"></script>
    <script type="text/javascript">
        $(function () {
	        $.Huihover(".portfolio-area li");
        });

        /*批量删除*/
        function datadel() {
            //layer.msg('功能开发中,敬请期待!', { icon: 1, time: 3000 });

            var vals = [];
            $('input[name="selectedIds"]:checked').each(function (index, item) {
                vals.push($(this).val());
            });
            if (vals.length <= 0) {
                layer.msg('未选中任何信息!', { icon: 2, time: 3000 });
                return;
            }

            layer.confirm('确认要批量删除吗？', function (index) {
                var formData = $("#formList").serializeArray();
                $.ajax({
                    url: "/Certificate/PatchDel",
                    type: "post",
                    dataType: "json",
                    data: formData,
                    success: function (data) {
                        if (data.status == "ok") {
                            layer.msg('已删除!', { icon: 1, time: 3000 }, function () {
                                location.reload();//刷新页面
                            });
                        }
                        else {
                            layer.msg('删除失败!', { icon: 2, time: 3000 });
                        }
                    },
                    error: function (data) {
                        //alert(data.error);
                        layer.msg('网络请求失败!', { icon: 2, time: 3000 });
                    }
                });
            });
        }
        /* 添加证书 */
        function zhengshu_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }
    </script>
</body>
</html>
